.layout-tab-bar {
    background-color: transparent;
}

/*页签栏 */
.layout-tab-bar .item__text {
    color: #8b5959;
}

.layout-tab-bar .item--focus:after {
    display: none;
}

.fn__flex.layout-tab-bar .item {
    background-color: #f2d4d4;
}

.fn__flex.layout-tab-bar .item:hover {
    background-color: #fdbfbf;
}

.fn__flex.layout-tab-bar .item.item--focus {
    background-color: #fff4f4;
}

.layout__wnd--active .fn__flex.layout-tab-bar .item.item--focus {
    background-color: #cefbff;
}

.layout__wnd--active .layout-tab-bar .item--focus>.item__text {
    color: #30609d;
}

body.body--blur .layout__wnd--active .layout-tab-bar .item--focus {
    background-color: #fff9f9;
}